.main-content {
  background-color: $text-middlegrey-color;
  background-image: url("../img/bg-desktop@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media (min-resolution: $retina-dpi),
    (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-desktop@2x.jpg");
  }

  @include tablet {
    background-image: url("../img/bg-tablet@1x.jpg");

    @media (min-resolution: $retina-dpi),
      (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-tablet@2x.jpg");
    }
  }

  @include mobile {
    padding-top: 83px;
    background-image: url("../img/bg-mobile@1x.jpg");

    @media (min-resolution: $retina-dpi),
      (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-mobile@2x.jpg");
      // background-size: 100% 235px;
      background-position: inherit;
    }
  }
}

.main-content__wrapper {
  @include wrapper;

  display: flex;
  flex-direction: column;
  padding-top: 187px;
  padding-left: 700px;
  padding-bottom: 298px;

  @include tablet {
    align-items: center;
    padding: 0;
    padding-top: 60px;
    padding-bottom: 83px;
  }

  @include mobile {
    position: relative;
    align-items: center;
    padding-top: 0;
    padding-bottom: 81px;

    text-align: center;
  }
}

.main-content__title {
  @include h-model;
  color: $white-color;

  @include desktop {
    width: 412px;
    margin-bottom: 28px;

    letter-spacing: -1px;
  }

  @include tablet {
    margin-bottom: 14px;
  }
}

.main-content__description {
  @include p-model;
  color: $white-color;

  @include desktop {
    width: 376px;
    margin-bottom: 31px;
    color: $white-color;
    letter-spacing: -0.5px;
  }

  @include tablet {
    width: 55%;
    margin-bottom: 8px;

    text-align: center;
    letter-spacing: -0.5px;
  }

  @include mobile {
    position: absolute;
    top: 173px;
    width: 92%;

    letter-spacing: -0.5px;
  }
}

.main-content__link {
  display: flex;
  justify-content: space-between;
  width: 340px;
  padding: 30px 36px 28px 39px;
  padding-top: 30px;
  padding-bottom: 28px;

  &::after {
    content: "";
    width: 18px;
    height: 18px;
    background: url("../img/icon-arrow.svg") no-repeat;
  }

  @include tablet {
    width: 250px;
    padding: 19px 37px 13px 39px;
  }

  @include mobile {
    position: absolute;
    width: 288px;
    top: 301px;
    margin-left: 8%;
    margin-right: 8%;
    padding: 19px 37px 13px 40px;
  }
}
