.page-footer {
  @include wrapper;

  display: flex;
  justify-content: space-between;
  padding: 16px 13px;

  @include tablet {
    justify-content: start;
    flex-wrap: wrap;
    padding: 82px 21px;
  }

  @include mobile {
    display: flex;
    flex-direction: column;
  }
}

.page-footer__travels {
  width: 33.99%;
  border-right: 1px solid #d7d9df;

  &:last-child {
    border: none;
  }

  @include tablet {
    width: 54.5%;
    margin-bottom: 19px;
  }

  @include mobile {
    width: 100%;
    padding-top: 55px;
    padding-bottom: 9px;

    border-right: none;
    border-bottom: 1px solid #d7d9df;

    text-align: center;
  }
}

.page-footer__contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 30%;
  padding-left: 57px;

  @include tablet {
    width: 45.5%;
    padding-left: 49px;
  }

  @include mobile {
    align-items: center;
    width: 100%;
    padding-top: 29px;
    padding-left: 0;
    padding-right: 11px;

    border-bottom: 1px solid #d7d9df;
  }
}

.page-footer__contacts-title {
  @include text-options(18px, 32px, 600, $text-darkgrey-color);

  margin: 0;
  margin-bottom: 22px;
}

.page-footer__contacts-link {
  @include text-options(14px, 17px, 400, $main-color);

  display: flex;
  width: 100%;
  margin-bottom: 14px;

  &--tel {
    font-size: 16px;
    line-height: 32px;
  }

  @include mobile {
    justify-content: center;
    margin-bottom: 15px;
  }
}

.page-footer__contacts-icon {
  margin-right: 12px;

  &--mail {
    width: 26px;
    height: 20px;
  }

  &--tel {
    width: 30px;
    height: 30px;
    fill: none;
    stroke: #d7d9df;
  }
}

.page-footer__contacts-mail {
  @include tablet {
    display: none;
  }

  @include mobile {
    display: none;
  }
}

.page-footer__contacts-text {
  display: none;

  @include tablet {
    display: inline-block;
  }

  @include mobile {
    display: inline-block;
  }
}

.page-footer__corporate {
  width: 30.3%;
  padding-left: 27px;

  @include tablet {
    width: 100%;
    padding-top: 29px;
    padding-left: 0;

    border-top: 1px solid #d7d9df;

    text-align: center;
  }

  @include mobile {
    width: 100%;
    padding-top: 30px;
    padding-left: 0;

    text-align: center;
  }
}

.page-footer__corporate-title {
  @include text-options(18px, 32px, 600, $text-darkgrey-color);

  margin: 0;
  margin-bottom: 19px;
}

.page-footer__corporate-description {
  @include text-options(14px, 24px, 400, $text-darkgrey-color);

  opacity: 0.5;
}
