@font-face {
  font-family: "Montserrat";
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/montserrat400.woff2") format("woff2"),
    url("../fonts/montserrat400.woff") format("woff");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/montserrat500.woff2") format("woff2"),
    url("../fonts/montserrat500.woff") format("woff");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 600;
  font-display: swap;
  src: url("../fonts/montserrat600.woff2") format("woff2"),
    url("../fonts/montserrat600.woff") format("woff");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/montserrat600.woff2") format("woff2"),
    url("../fonts/montserrat600.woff") format("woff");
}
